---

import FormattedDate from "./FormattedDate.astro";
import {Image} from "@astrojs/image/components";

const {
    image,
    title,
    date
} = Astro.props

---
<header class="my-post-header">
    <Image
            src={image.src}
            alt={image.alt}
            width="1080"
            height=""
            fit="cover"
            quality={80}
            aspectRatio="16:9"
    />
    <span><FormattedDate {date}/></span>
    <h2 class="h1"> {title} </h2>
</header>